

<nav class="d-flex navBarConect">
  <div><h1> Bienvenido {{usuario.name}}</h1></div>
<div class=" d-flex divBarConectado">
  <ul class=" d-flex ">
     <li>
      <button class="submitButton aL1" id="botonCambiarNombre">Cambiar Nombre</button>
    </li>
     <li>
      <button class="submitButton aL2" id="botonDesconectar">Desconectarse</button>
    </li>
     <li>
      <button class="submitButton aL3" id="botonBorrarCuenta">Borrar Cuenta</button>
    </li>
  </ul>
</div>
<div>

</div>
</nav>
<script src="../../javascripts/navBarConectadoScript.js"></script>
